body {
      background-color:#DFCCFB;
      }

.input {
         background-color:#F5EFE7;
        }

#head {
        color:blueviolet;
        text-align: center;
       }

.table {
         display: flex;
         height: 50vh;
         justify-content: center;
         align-items: center;
      }

.data {
         color:brown;
}

.a {   text-align: center;

 }

 #b {color:chocolate;}
 #c { color: brown;}
 #last {
         color: blue;
         font-size: 40px;
         font-style:oblique;
 }
 @media(min-width:319px) and (max-width:480px) {       /* mobile scren*/
       body {background-color: lightsalmon;}                 
    }
